@model IEnumerable<Core.Domain.Entities.User>

@{
    ViewData["Title"] = "GetAll";
}

<div class="content-wrapper">

    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Quản lý người dùng</h4>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                    <tr>
                        <td>
                            @item.FullName (@item.FisrtName, @item.LastName)
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            <a asp-action="ManageUserRoles" asp-route-userId="@item.Id">Quản lý quyền</a>
                        </td>
                    </tr>}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
