@model IEnumerable<Core.Domain.Entities.Category>
@{
    ViewData["Title"] = "GetAll";
}
<div class="content-wrapper">
    <div class="row grid-margin">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Order status</h6>
                    <div class="d-flex table-responsive">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-info"><i class="mdi mdi-plus-circle-outline"></i> <a asp-action="Create">Add</a></button>
                        </div>
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-light"><i class="mdi mdi-alert-circle-outline"></i></button>
                            <button type="button" class="btn btn-light"><i class="mdi mdi-delete-empty"></i></button>
                        </div>
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-light"><i class="mdi mdi-printer"></i></button>
                        </div>
                        <div class="btn-group ml-auto mr-2 border-0">
                            <form asp-action="GetAll" method="get" style="display: flex;">
                                <div>
                                    <input id="myInput" type="text" name="s" class="form-control" placeholder="Search Here" value="@ViewBag.s">
                                </div>
                                <div>
                                    <input type="submit" class="btn btn-success" value="Tìm kiếm" style="padding: 12px; margin-left: 2px;">
                                </div>
                            </form>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-light"><i class="mdi mdi-cloud"></i></button>
                            <button type="button" class="btn btn-light"><i class="mdi mdi-dots-vertical"></i></button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table mt-3 border-top">
                            <thead>
                                <tr>
                                    @*<th>
                                            #
                                        </th>*@
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Tên danh mục
                                    </th>
                                    <th>
                                        Mô tả danh mục
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="myTable">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @*<td>
                                                <input type="checkbox" name="listDelete" value="@item.uuid" />
                                            </td>*@
                                        <td>
                                            <div class="@item.uuid.ToString()" style="display: none;">@item.uuid</div>
                                            <button onclick="copyToClipboard('.@item.uuid.ToString()')" style="background: transparent; border: none;"><i class="icon-docs menu-icon"></i></button>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.name)
                                        </td>
                                        <td class="text">
                                            @Html.DisplayFor(modelItem => item.description)
                                        </td>

                                        <td>
                                            <a asp-action="Update" asp-controller="Category" asp-route-id="@item.uuid">Update</a>|
                                            <a asp-action="Details" asp-controller="Category" asp-route-id="@item.uuid">Details</a>|
                                            <button id="deleted" type="button" class="text-danger" onclick="deleteItem('@item.uuid')" style="background: transparent; border: none; font-weight: 700; ">Delete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row mt-4">
                        <p class="mb-3 mb-sm-0">Showing 1 to 20 of 20 entries</p>
                        <nav>
                            <ul class="pagination pagination-info mb-0">
                                <li class="page-item"><a class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                <li class="page-item active"><a class="page-link">1</a></li>
                                <li class="page-item"><a class="page-link">2</a></li>
                                <li class="page-item"><a class="page-link">3</a></li>
                                <li class="page-item"><a class="page-link">4</a></li>
                                <li class="page-item"><a class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

@section Scripts{
    <script>
        function deleteItem(uuid) {
            Swal.fire({
                title: 'Xác nhận xóa?',
                text: "Bạn có chắc sẽ xóa danh mục này?",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xóa!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/admin/category/delete-category/' + uuid;
                    Swal.fire(
                        'Xóa thành công!',
                        '',
                        'success'
                    )
                    setTimeout(function () {
                        $("#deleted").submit();
                    }, 2000);
                }
            })
        }

        // Copy uuid to clipboard
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
            showSuccessToast('Copy uuid thành công!')

        }
    </script>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <script>
        (function ($) {
            showSuccessToast = function (title) {
                'use strict';
                resetToastPosition();
                $.toast({
                    heading: 'Success',
                    text: title,
                    showHideTransition: 'slide',
                    icon: 'success',
                    loaderBg: '#f96868',
                    position: 'top-right'
                })
            };
            showDangerToast = function () {
                'use strict';
                resetToastPosition();
                $.toast({
                    heading: 'Danger',
                    text: 'And these were just the basic demos! Scroll down to check further details on how to customize the output.',
                    showHideTransition: 'slide',
                    icon: 'error',
                    loaderBg: '#f2a654',
                    position: 'top-right'
                })
            };
            resetToastPosition = function () {
                $('.jq-toast-wrap').removeClass('bottom-left bottom-right top-left top-right mid-center'); // to remove previous position class
                $(".jq-toast-wrap").css({ "top": "", "left": "", "bottom": "", "right": "" }); //to remove previous position style
            }

        })(jQuery);
    </script>
}